{% extends 'layout/_main.html' %}

{% block content %}
<section id="main">
  <div id="home-banner">
    <img class="hide-sm" src="/img/home-banner.jpg">
    <img class="hide-md" src="/img/home-banner-sm.jpg">
  </div>

  <!-- INTRO -->
  <section id="home-intro" class="container">
    <div class="row">

      <div class="col-4 col--sm-12">
        <div class="intro-item overlay">
          <a href="#">事業案内</a>
          <img class="res-img" src="../img/intro-1.jpg">
        </div>
      </div>

      <div class="col-4 col--sm-12">
        <div class="intro-item overlay">
          <a href="#">代表あいさつ</a>
          <div></div>
          <img class="res-img" src="../img/intro-2.jpg">
        </div>
      </div>

      <div class="col-4 col--sm-12">
        <div class="intro-item overlay">
          <a href="#">沿革</a>
          <img class="res-img" src="../img/intro-3.jpg">
        </div>
      </div>

    </div>
  </section>

  <!-- CONTENT -->
  <section id="home-content">
    <div class="container">

      <h1>ニュース</h1>

      <article class="row">
        <div class="col-2 col--sm-12">
          <p>2016.06.17</p>
          <button class="btn-sm">ニュースリリース</button>
        </div>

        <div class="col-7 col--sm-12">
          <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
          <p>大江戸温泉物語株式会社（本社：東京都中央区、代表取締役：森田満昌、以下大江戸温泉物語）が運営する「鹿教湯」（長野県上田市、以後鹿教湯）は、夏の湯治に最適なグルメやアクティビティを提案いたします。</p>
        </div>

        <div class="col-3 col--sm-12">
          <div class="content-img">
            <img class="res-img" src="../img/img_content-1.jpg">
          </div>
        </div>
      </article>

      <article class="row">
        <div class="col-2 col--sm-12">
          <p>2016.06.17</p>
          <button class="btn-sm">ニュースリリース</button>
        </div>

        <div class="col-10 col--sm-12">
          <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
          <p>大江戸温泉物語株式会社（本社：東京都中央区、代表取締役：森田満昌、以下大江戸温泉物語）が運営する「鹿教湯」（長野県上田市、以後鹿教湯）は、夏の湯治に最適なグルメやアクティビティを提案いたします。</p>
        </div>
      </article>

      <article class="row">
        <div class="col-2 col--sm-12">
          <p>2016.06.17</p>
          <button class="btn-sm">トピックス</button>
        </div>

        <div class="col-7 col--sm-12">
          <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
          <p>大江戸温泉物語株式会社（本社：東京都中央区、代表取締役：森田満昌、以下大江戸温泉物語）が運営する「鹿教湯」（長野県上田市、以後鹿教湯）は、夏の湯治に最適なグルメやアクティビティを提案いたします。</p>
        </div>

        <div class="col-3 col--sm-12">
          <div class="content-img">
            <img class="res-img" src="../img/img_content-2.jpg">
          </div>
        </div>
      </article>

      <article class="row">
        <div class="col-2 col--sm-12">
          <p>2016.06.17</p>
          <button class="btn-sm">トピックス</button>
        </div>

        <div class="col-7 col--sm-12">
          <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
          <p>大江戸温泉物語株式会社（本社：東京都中央区、代表取締役：森田満昌、以下大江戸温泉物語）が運営する石和温泉の「ホテル新光」（山梨県笛吹市）は、フルーツ狩りやワイナリーめぐりなど山梨ならではのアクティビティを通じて、夏を感じられる石和温泉での楽しみ方を提案します。
          </p>
        </div>

        <div class="col-3 col--sm-12">
          <div class="content-img">
            <img class="res-img" src="../img/img_content-3.jpg">
          </div>
        </div>
      </article>

      <article class="row">
        <div class="col-2 col--sm-12">
          <p>2016.06.17</p>
          <button class="btn-sm">ニュースリリース</button>
        </div>

        <div class="col-10 col--sm-12">
          <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
          <p>大江戸温泉物語をご利用頂きましてありがとうございます。今秋、奥州三名湯のひとつ宮城県鳴子温泉に2つの大江戸温泉物語グループの宿が、誕生いたします。鳴子温泉で最大級の「百畳露天風呂」や、「展望露天風呂」など自慢のお風呂と季節の会席料理をお楽しみください。</p>
        </div>
      </article>
    </div>
  </section>

  <!-- YOUTUBE BUTTON -->
  <button class="btn btn-youtube btn-youtube-md"><i class="fab fa-youtube"></i> &nbsp;もっと読む</button>

  <!-- TABLE -->
  <section id="home-table">
    <div class="container">
      <h1>メディア掲載情報</h1>

      <div class="row">
        <div class="col-4 col--sm-12">2016.06.27</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
      </div>

      <div class="row">
        <div class="col-4 col--sm-12">2016.06.27</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
      </div>

      <div class="row">
        <div class="col-4 col--sm-12">2016.06.27</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
      </div>

      <div class="row">
        <div class="col-4 col--sm-12">2016.06.27</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
      </div>

      <div class="row">
        <div class="col-4 col--sm-12">2016.06.27</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
        <div class="col-4 col--sm-12">大江戸温泉物語「ホテル新光」</div>
      </div>
    <div class="btn-youtube-sm-wrap">
      <button class="btn btn-youtube btn-youtube-sm"><i class="fab fa-youtube"></i> &nbsp; もっと読む</button>
    </div>
  </section>

  <!-- PLACE -->
  <section id="home-place" class="hide-sm">
    <div class="container">

      <h1>メディア掲載情報</h1>

      <div class="place-main gradient">
        <div class="place-main-item place-main-left">
          <img src="../img/hd_place-logo.png">
          <h2>温泉情緒とエンターテイメントを満喫！現代によみがえった、関西の奥座敷。</h2>
        </div>

        <div class="place-main-item place-main-right">
          <img class="res-img" src="../img/img_place-map.png">
        </div>

      </div>

      <div class="place-small">
        <a href="#" class="place-small-img">
          <img class="img-res" src="../img/img_place-1.jpg">
        </a>

        <a href="#" class="place-small-img">
          <p>伊東 ホテルニュー岡部</p>
          <img class="img-res" src="../img/img_place-2.jpg">
        </a>

        <a href="#" class="place-small-img">
          <p>伊東 岡部</p>
          <img class="img-res" src="../img/img_place-3.jpg">
        </a>

        <a href="#" class="place-small-img">
          <p>伊東 ホテルニュー岡部</p>
          <img class="img-res" src="../img/img_place-4.jpg">
        </a>

        <a href="#" class="place-small-img">
          <p>伊岡部</p>
          <img class="img-res" src="../img/img_place-5.jpg">
        </a>
      </div>

      <div class="place-bottom">
        その他の運営施設一覧
      </div>

    </div>
  </section>

  <section id="banner-bottom">
    <div class="container">
      <div class="row">

        <div class="col-4 col--sm-12">
          <img src="../img/img_banner-1.png">
        </div>

        <div class="col-4 col--sm-12">
          <img src="../img/img_banner-2.png">
        </div>

        <div class="col-4 col--sm-12">
          <img src="../img/img_banner-3.png">
        </div>

      </div>
    </div>
  </section>
</section>

{% endblock %}
