{% extends 'layout/_main.html' %}

{% block content %}
<section id="news">
  <!-- NEWS BANNER -->
  <section id="news-banner"></section>
  <!-- NEWS CONTENT -->
  <section id="news-content" class="container">
    <div class="row">
      <div class="list-article col-9 col--sm-12">
        <div class="row item-article">
          <div class="col-2 col--sm-12 float-bottom">
            <p>2016.06.17</p>
            <span class="tag">ニュースリリース</span>
          </div>
          <div class="col-7 col--sm-12">
            <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
            <p>大江戸温泉物語株式会社（本社：東京都中央区、代表取締役：森田満昌、以下大江戸温泉物語）が運営する「鹿教湯」（長野県上田市、以後鹿教湯）は、夏の湯治に最適なグルメやアクティビティを提案いたします。</p>
          </div>
          <div class="col-3 col--sm-12 float-top">
            <div class="content-img">
              <img class="res-img" src="/img/img_content-1.jpg">
            </div>
          </div>
        </div>
        <div class="row item-article float-bottom">
          <div class="col-2 col--sm-12 ">
            <p>2016.06.17</p>
            <span class="tag">ニュースリリース</span>
          </div>
          <div class="col-10 col--sm-12">
            <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
            <p>大江戸温泉物語株式会社（本社：東京都中央区、代表取締役：森田満昌、以下大江戸温泉物語）が運営する「鹿教湯」（長野県上田市、以後鹿教湯）は、夏の湯治に最適なグルメやアクティビティを提案いたします。</p>
          </div>
        </div>
        <div class="row item-article">
          <div class="col-2 col--sm-12 float-bottom">
            <p>2016.06.17</p>
            <span class="tag">トピックス</span>
          </div>
          <div class="col-7 col--sm-12">
            <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
            <p>大江戸温泉物語株式会社（本社：東京都中央区、代表取締役：森田満昌、以下大江戸温泉物語）が運営する「鹿教湯」（長野県上田市、以後鹿教湯）は、夏の湯治に最適なグルメやアクティビティを提案いたします。</p>
          </div>
          <div class="col-3 col--sm-12 float-top">
            <div class="content-img">
              <img class="res-img" src="/img/img_content-2.jpg">
            </div>
          </div>
        </div>
        <div class="row item-article">
          <div class="col-2 col--sm-12 float-bottom">
            <p>2016.06.17</p>
            <span class="tag">トピックス</span>
          </div>
          <div class="col-7 col--sm-12">
            <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
            <p>大江戸温泉物語株式会社（本社：東京都中央区、代表取締役：森田満昌、以下大江戸温泉物語）が運営する石和温泉の「ホテル新光」（山梨県笛吹市）は、フルーツ狩りやワイナリーめぐりなど山梨ならではのアクティビティを通じて、夏を感じられる石和温泉での楽しみ方を提案します。
            </p>
          </div>
          <div class="col-3 col--sm-12 float-top">
            <div class="content-img">
              <img class="res-img" src="img/img_content-3.jpg">
            </div>
          </div>
        </div>
        <div class="row item-article">
          <div class="col-2 col--sm-12">
            <p>2016.06.17</p>
            <span class="tag">ニュースリリース</span>
          </div>
          <div class="col-10 col--sm-12">
            <a href="#"><h2>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</h2></a>
            <p>大江戸温泉物語をご利用頂きましてありがとうございます。今秋、奥州三名湯のひとつ宮城県鳴子温泉に2つの大江戸温泉物語グループの宿が、誕生いたします。鳴子温泉で最大級の「百畳露天風呂」や、「展望露天風呂」など自慢のお風呂と季節の会席料理をお楽しみください。</p>
          </div>
        </div>
        <button class="btn btn-youtube btn-youtube-lg"><i class="fab fa-youtube"></i> &nbsp;もっと読むと読むと読む</button>
      </div>
      <div class="col-3 col--sm-12 list-event">
        <h1>アーカイブ</h1>
        <ul>
          <li><a href="#">2016年</a></li>
          <li><a href="#">2015年</a></li>
          <li><a href="#">2014年</a></li>
          <li><a href="#">2013年</a></li>
          <li><a href="#">2012年</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>
{% endblock %}
