// HEADER
header {
  height: 100px;
  border-bottom: 1px solid #ccc;

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left,
  .header-right {
    height: 100px;
    display: flex;
    align-items: center;
  }

  .header-right {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    ul {
      display: flex;

      li {
        margin-left: 40px;
      }

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
      }
    }

    .header-right-top {
      select {
        border-radius: 0px;
      }

      a {
        margin-left: 20px;
        color: #333;
        text-transform: uppercase;
        font-size: 10px;
      }
    }
  }
}

#home-banner {
  width: 100vw;

  img {
    width: 100%;
  }
}

// SECTION INTRO
#home-intro {
  .intro-item {
    border-radius: 10px;
    min-height: 210px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: white;
      text-align: center;
      font-size: 1.8rem;
    }
  }

  .intro-item.one {
    background:
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(../../img/intro-1.jpg) no-repeat;
    background-size: 100%;
  }

  .intro-item.two {
    background:
      linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url(../../img/intro-2.jpg) no-repeat;
    background-size: 100%;
  }

  .intro-item.three {
    background:
      linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url(../../img/intro-3.jpg) no-repeat;
    background-size: 100%;
  }
}

#home-content {
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  .img_content {
    border-radius: 10px;
    min-height: 150px;
  }

  .img_content-1 {
    background: url(../../img/img_content-1.jpg) no-repeat;
  }

  .img_content-2 {
    background: url(../../img/img_content-2.jpg) no-repeat;
  }

  .img_content-3 {
    background: url(../../img/img_content-3.jpg) no-repeat;
  }

  article {
    .btn {
      margin-top: 8px;
      border-color: #d01821;
    }
  }
}
