

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.overlay {
  background: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  position: absolute;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}

// BANNER
#home-banner {
  width: 100vw;

  img {
    width: 100%;
  }
}

// INTRO
#home-intro {
  margin-top: 50px;

  .intro-item {
    padding: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    a {
      text-decoration: none;
      position: absolute;
      color: white;
      font-size: 1.8rem;
    }
  }
}


// CONTENT
#home-content {

  .content-img {
    border-radius: 10px;
    overflow: hidden;
    padding: 0;

    img {
      min-height: 100%;
    }
  }

  article {
    p {
      font-size: $font-size-md;
    }

    a {
      text-decoration: none;
      color: $dark-color;
    }

    .btn {
      margin-top: 8px;
      border-color: $red-color;
    }
  }
}

//BTN YOUTUBE
.btn-youtube {
  background: $red-color;
  border-radius: 8px;
  color: white;
  border-bottom: 2px solid darken($red-color, 10%);

  &-md {
    padding: 0 60px;
    height: 70px;
    font-size: $font-size-md;
    margin: 50px auto;
    display: block;
  }

  &-sm {
    margin: 25px 0;
    float: right;
    min-height: 40px;
    font-size: $font-size-sm;
    padding: 0 35px;
  }

}

// TABLE
#home-table {
  table {
    margin: 0 auto;
    font-size: $font-size-md;
  }
}

//PLACE
#home-place {
  clear: both;

  .place-main {
    position: relative;
    display: flex;
    color: $light-color;
    height: 450px;
    overflow: hidden;
    margin: 4px 0;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .place-large-img {
      z-index: -1;
      position: absolute;
      min-height: 100%;
    }

    &-item {
      z-index: 1000;
    }

    &-left {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;

      img {
        min-width: 20%;
      }
    }

    &-right {
      min-width: 40%;

      img {
        float: right;
        max-height: 100%;
      }
    }
  }

  .place-small {
    display: flex;
    clear: both;
    margin-bottom: 4px;

    a {
      width: calc(100% / 5);
      overflow: hidden;
      position: relative;
      color: $light-color;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 150px;

      img {
        min-width: 100%;
        min-height: 100%;
      }

      p {
        position: absolute;
      }
    }
  }

  .place-footer {
    height: 56px;
    background: $dark-color;
    color: $light-color;
    font-size: $font-size-md;
    padding-top: 12px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
}

//FOOTER BANNER

#footer-banner {
  margin-top: 50px;
  margin-bottom: 100px;

}
