
h1 {
  text-align: center;
  margin-bottom: 50px;
}

// BANNER
#home-banner {
  width: 100vw;

  img {
    width: 100%;
  }
}

// INTRO
#home-intro {
  margin-top: 50px;

  .intro-item {
    padding: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .res-img {
      vertical-align: bottom;
    }

    a {
      z-index: 99;
      position: absolute;
      text-decoration: none;
      color: white;
      font-size: $font-size-md * 1.3;
    }
  }
}

// CONTENT
.list-article {
  .content-img {
    border-radius: 10px;
    overflow: hidden;

    img {
      vertical-align: bottom;
    }
  }

  .item-article {
    margin-top: 40px;

    h2 {
      font-size: $font-size-md;
    }

    p {
      font-size: $font-size-sm;
    }

    a {
      text-decoration: none;
      color: $dark-color;
    }

    .btn-sm {
      margin-top: 8px;
      padding: 1px 2px;
      border: 1px $red-color solid;
      color: $red-color;
      font-size: $font-size-sm * 0.8;

      &:hover {
        color: $dark-color;
        border-color: $dark-color;
      }
    }

    @include mediaquery--sm {
      display: table;
      padding: 0 16px;

      div:not(.float-top) {
        padding: 0;
      }

      .float-top {
        margin-bottom: 16px;
        background: yellow;
        display: table-header-group;
      }

      .float-bottom {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      p {
        display: inline;
      }

      .btn-sm {
        margin-left: 10px;
        margin-top: 0;
        padding: 4px 2px;
        font-size: $font-size-sm * 0.8;
      }
    }
  }
}

//BTN YOUTUBE
.btn-youtube {
  background: $red-color;
  border-radius: 8px;
  color: white;
  border-bottom: 2px solid darken($red-color, 10%);

  &-lg {
    padding: 0 60px;
    height: 70px;
    font-size: $font-size-md;
    margin: 50px auto;
    display: block;

    @include mediaquery--sm {
      padding: 20px;
      font-size: $font-size-sm;
    }
  }

  &-sm {
    float: right;
    margin: 25px 0;
    min-height: 40px;
    font-size: $font-size-sm;
    padding: 0 35px;

    @include mediaquery--sm {
      float: none;
      display: block;
      margin: 25px auto;
    }
  }
}

// TABLE
#home-table {
  .table-row {
    border-bottom: 1px solid $gray-color;

    @include mediaquery--sm {
      text-align: center;
    }
  }
}

//PLACE
#home-place {
  clear: both;

  .place-main {
    position: relative;
    display: flex;
    color: $light-color;
    height: 450px;
    overflow: hidden;
    margin: 4px 0;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(../../img/img_place-lg.jpg);

    &-item {
      z-index: 1000;
    }

    &-left {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 40%;

      img {
        max-width: 50%;
      }
    }
  }

    &-right {
      min-width: 40%;

      img {
        text-align: right;
        max-height: 100%;
      }
    }

  .place-small {
    display: flex;
    margin-bottom: 4px;

    a {
      width: calc(100% / 5);
      overflow: hidden;
      position: relative;
      color: $light-color;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 150px;

      img {
        min-width: 100%;
        min-height: 100%;
      }

      p {
        padding: 0 20px;
        text-align: center;
        position: absolute;
      }
    }
  }

  .place-bottom {
    height: 56px;
    background: $dark-color;
    color: $light-color;
    font-size: $font-size-md;
    padding-top: 12px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

//BOTTOM BANNER
#banner-bottom {
  margin-top: 50px;
  margin-bottom: 100px;
}

// MOBILE
@media (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 601px) {
  .hide-md {
    display: none;
  }
}
