#news-banner {
  height: 154px;
  background: url(../../img/logo-news.png) no-repeat;
  background-position: 50% 50%;
}

.list-event {
  margin-top: 40px;

  h1 {
    text-align: left;

    @include mediaquery--sm {
      text-align: center;
    }
  }

  li {
    padding: 20px 0;
    border-bottom: 1px $gray-color solid;
  }

  a {
    text-decoration: none;
    color: $dark-color;

    &:hover {
      text-decoration: underline;
    }

    @include mediaquery--sm {
      text-align: center;
      display: block;
    }
  }
}
